@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
#home{
    background-color: #041424;
    background-image: url("../../assets/hero_bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-blend-mode: color-dodge;
    font-family: 'Inter' , sans-serif;
}
.join-us-button{
    background-color: #F5A212;
    box-shadow: 2px 4px 4px 1px #F9CD7F;
}
.hero-headline{
    background: linear-gradient(264deg, #778089 -35.19%, #d5d9de 160.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}